@font-face {
  font-family: 'Geist Mono';
  src: url(/fonts/GeistMono-Regular.woff2);
}

@font-face {
  font-family: 'Geist Mono';
  src: url(/fonts/GeistMono-Bold.woff2);
  font-weight: bold;
}

body {
  background-color: #fafafa;
  color: #171717;
  font-family: 'Geist Mono', sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}
