:root {
	--accent: #000000;
	--purple: #937dbd;
	--dark-purple: #584b67;
	--yellow: #f7d85e;
	--orange: #c4754a;
	--dark-gray: #584b64;

	--foreground: #2b2029;
	--background: #f8f4e9;
	--foreground-dark: #faf1f7;
	--background-dark: #2d1c2e;

	--white: #fffaff;
	--gray: #ebebeb;
	--line: #4f3e50;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('/fonts/geist.woff2') format('woff2');
	font-style: normal;
	font-display: block;
}

html {
	color: var(--foreground);
	background-color: var(--background);
}

html.dark {
  color: var(--foreground-dark);
	background-color: var(--background-dark);
}

body {
	font-family: 'Geist Mono', monospace;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.8rem;
	letter-spacing: -0.3px;
	margin: 0 auto;
	padding: 0;
	max-width: 960px;
}

main {
	padding: 40px 0 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--dark-purple);
	line-height: 1.2;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
	color: var(--purple);
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

strong,
b {
	font-weight: 700;
}

a {
	color: var(--dark-purple);
}

.dark a {
	color: var(--purple);
}

a:hover {
	color: var(--purple);
}

.dark a:hover {
	color: var(--purple);
}

p {
	margin-bottom: 1em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	background-color: #584b67;
	border-radius: 8px;
	margin: 0 0 2em 0;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--purple);
	background-color: #584b67;
	padding: 8px 8px 8px 20px;
	margin: 0 0 2em 0;
	border-radius: 4px;
}

.prose blockquote > p {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	border-top: 1px solid var(--background-dark);
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
